@import "tailwindcss";

@theme inline {
  --color-primary: #005C55;
  --color-primary-light: #0F766E;
  --color-accent: #9D4300;
  --color-dark: #181C1C;
  --color-body: #3E4947;
  --color-border: #BDC9C6;
  --color-surface: #F7FAF8;
  --color-filter-bg: #F1F4F3;
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-heading: "Be Vietnam Pro", sans-serif;
  --font-body: "Inter", sans-serif;
}

body {
  background: var(--color-surface);
  color: var(--color-body);
  font-family: var(--font-body);
}
